/* Base */



html{
  background-color: #FFF;
  color: black;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

p{
  font-family: Times;
  font-size: 1em;
}

.byLine{
  font-size: 1.3em;
  color: darkgrey;
  margin-left: 10px;
}

.hidden{
  display:none;
}

.inlineNavBar{
  list-style: none;
}

/* Layout */

header {
  width: 100%;
  padding: 12px;
}

main {
  width: 68%;
  margin: 10px 2% 10px 5%;
  float: left;
}

aside {
  margin: 10px 0 10px 0;
  width: 21%;
  float: left;
  padding: 6px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  clear: both;
}

/* Module */

.mainNav {
  border-top: 4px solid black;
}


.inlineNavBar li {
  display: inline-block;
  font-size: 2em;
  margin-right: 2em;
}

.feature__mainImage {
  width: 100%;
  margin: 0;
  border: 1px solid black;
}

.feature__title {
  font-weight: bold;
  font-size: 2em;
  margin: 10px 6px 8px 12px;
}

.feature__teaser {
  margin: 0 6px 8px 12px;
}

.otherArticle {
  width: 100%;
  border-bottom: 1px solid gray;
}

.otherArticle h1 {
  text-transform: uppercase;
  color: red;
  margin-left: 10px;
}

.otherArticle h2 {
  font-size: 1.6em;
  margin-left: 10px;
}

.footerNav {
  text-align: center;
  padding-top: 10px;
}

.footerNav li {
  color: #FFF;
  font-size: 1em;
}

/* State */

@media (max-width: 600px){
  main {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  aside{
    width: 100%;
    display: block;
  }
}

/* Theme */


