/* HEADER */
header {
  width: 100%;
  padding: 12px;
}

.inlineNavBar {
  list-style: none;
}

.mainNav {
  border-top: 4px solid black;
}

.inlineNavBar li {
  display: inline-block;
  font-size: 2em;
  margin-right: 2em;
}

/* MAIN */
main {
  width: 68%;
  margin: 10px 2% 10px 5%;
  float: left;
}

/* FOOTER */

footer {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  clear: both;
}

.footerNav {
  text-align: center;
  padding-top: 10px;
}

.footerNav li {
  color: #FFF;
  font-size: 1em;
}
